<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Catalog Page</title>
    <!-- Do not forget to change the path to the css file -->
    <link href="css/style.css" type="text/css" rel="stylesheet">
</head>

<body>



        <main>

            <section id="catalog">
                <h1>All Movies</h1>
                <div class="band">

                   {{#each movies}}
                        {{>movie}}
                    {{else}}
                    <div class="no-posts">
                        <p class="no-offer">There are no posts yet...</p>
                    </div>
                    {{/each}}
                </div>
            </section>
        </main>
        <footer>
            © JS Back-End Workshop
        </footer>
    </div>

</body>

</html>